{% extends 'layouts/base.html' %}
{% load static %}
{%load crispy_forms_tags%}
{% block title %} STUDENT PROFILE {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Student Profile</h1>
          </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            No pre-registration students
                            <button class="btn btn-primary span4 proj-div float-right" data-toggle="modal" data-target="#edit-account"><b>add</b></button>
                        </div>
                        <div class="card-body">
                          <table id="un-list" class="table table-bordered table-hover table-sm">
                              <thead>
                                  <tr>                       
                                    <th>Name</th>
                                    <th>ID No.</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for un in un_registered_list %}
                                  {% for s in students_list %}
                                    {% if s.id == un and s.student == 1%}                                  
                                    <tr>
                                      <td>{{s}}</td>    
                                      <td>{{s.id_no}}</td>                          
                                    <tr>
                                    {% endif %}
                                  {% endfor %}
                                {% endfor %}
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                  <div class="card">
                      <div class="card-header">
                        Pre-registered Students
                      </div>
                      <div class="card-body">
                        <table id="rl-list" class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>                       
                                  <th>Name</th>
                                  <th>ID No.</th>
                                  <th>Year Level</th>
                                  <th>Course</th>
                                  <th>Scholarship</th>
                                  <th>Enrollment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for rl in registered_list %}
                                {% for ed in enrollment_detail %}
                                  {% if ed.student.id == rl%}                                  
                                  <tr>
                                    <td>{{ed.student}}</td>    
                                    <td>{{ed.student.id_no}}</td> 
                                    <td>{{ed.student_year}}</td>    
                                    <td>{{ed.course_id}}</td> 
                                    <td>{{ed.scholarship_is}}</td>    
                                    <td>{{ed.enrollment_status}} for {{ed.enrollment}}</td>                             
                                  <tr>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </tbody>
                        </table>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
    <div id="edit-account" class="modal fade">
      <div class="modal-dialog">
         <div class="modal-content">
         <form method='post'>
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title">Add new student</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
            <div class="modal-body">
              <div class="col-md-12">
                  {{form.username|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{form.first_name|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{form.middle_name|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{form.last_name|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{form.id_no|as_crispy_field}}
              </div>
              <div class="col-md-12">
                {{form.password1|as_crispy_field}}
              </div>
              <div class="col-md-12">
                {{form.password2|as_crispy_field}}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit"  name="editAccount" class="btn btn-primary">Save</button>
            </div>
         </form>
         </div>
       </div>
     </div>
</div>


{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->




<script>

$(function () {
  $('#un-list').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
  });
});

 
</script>
{% endblock extra_scripts %}