{%load crispy_forms_tags%}

<form method='post' action="{%url 'add-payment-admin'%}" class="js-payment-create-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            {{form.enrollment_detail_id|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.or_no|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.or_date|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.or_amount|as_crispy_field}}
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
                     