<html lang="en">
<head>
    <style>
        h1{
            text-align:center;
        }
        h3{
            text-align:left;
        }
        #table1 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
    
        }
        th{
            padding: 3px;
            text-align:center;
            
        }
        td{
            text-align:center;

        }

    </style>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <h1>Clas Schedule</h1>
</head>
<body>
    <h3>NAME: {{students}}</h3>
    <table id="table1">
        <thead>
            <tr>
                <th colspan="5">{{enrollment}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th>Course/Year level</th>
              <th>Subject</th>
              <th>Faculty</th>
              <th>Schedule</th>
              <th>Room</th>
            </tr>
          {% for ed in enrollment_detail %}
              {% if ed.student.id == students.id %}
                  {% for st in subject_taken %}
                      {% if st.enrollment_detail_id.id == ed.id %}
                          {% for cs in class_schedule %}
                              {% if st.schedule_id.id == cs.id and cs.enrollment.id == enrollment.id %}
                                  <tr>
                                    {% for c in course  %}
                                        {% if c.id == cs.course.id %} 
                                            <td>{{c.short_name}} | {{cs.year_level}}</td>
                                        {% endif %}
                                    {% endfor %}
                                      <td>{{cs.subject}}</td>
                                      <td>{{cs.faculty}}</td>
                                      <td>{{cs.schedule}}</td>
                                      <td>{{cs.room}}</td>
                                  </tr>    
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% endfor %}
        </tbody>
    </table>
</body>
</html lang="en">