<html lang="en">
<head>
    <style>
        h1{
            text-align:left;
        }
        h3{
            text-align:left;
        }
        #table1 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
    
        }
        th{
            padding: 3px;
            border-bottom: 2px solid black;
            
        }
        td{
            text-align:left;
            padding:3px;
        }
        a{
            text-align:left;
        }

    </style>
    <meta charset="UTF-8">
</head>
<body>
    <h1>{{student.user}}</h1>
    <h1>{{enrollment_detail_instance.student_year}} {{enrollment_detail_instance.course_id}}</h1>
    <h2>Pre-enrolled subjects</h2>
    <table>
        <thead>
                <tr>
                    <th colspan="10">Subject schedule</th>
                    <th style="text-align:left">Room</th>
                    <th style="text-align:right">lec. unit</th>
                    <th style="text-align:right">lab. unit</th>
                </tr>
        </thead>
        <tbody>
            {%for s in subject_taken %}
                {% if s.enrollment_detail_id.id == enrollment_detail_instance.id %}
                    <tr>
                        <td colspan="10" style="text-align:left">{{s.schedule_id}}</td>
                        <td style="text-align:left">{{s.schedule_id.room}}</td>
                        <td style="text-align:right">{{s.schedule_id.subject.lecture_unit}}</td>
                        <td style="text-align:right">{{s.schedule_id.subject.laboratory_unit}}</td>
                    </tr>
                {% endif %}
            {%endfor%}
            <tr>
                <td colspan="12" style="text-align:right;">Total Units</td>
                <td><h3>{{total_credit_units}}</h3></td>
            </tr>
        </tbody>
    </table>
                        
    <br>
    </br>
    <h2>Assessment</h2>
    <table>
        <thead>
            <tr>
                <th tyle="text-align:left"><h3>fee name</h3></th>
                <th tyle="text-align:left"><h3>amount</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for a in assessment %}
                {% if enrollment_detail_instance.id == a.enrollment_detail_id.id %}
                    <tr>
                        <td>{{a.fee_id}}</td>
                        <td>{{a.fee_amount}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td tyle="text-align:right"> Total</td>
                <td tyle="text-align:left"><h3>{{total_payment}}</h3></td>
            </tr>
        </tbody>
    </table>
</body>
</html lang="en">