<style>
    /* Hide the div initially */
    #myDiv {
        display: none;
    }
    
    .column {
        float: left;
        width: 50%; /* Adjust width as needed */
    }
</style>


<div class="col-5">
    <div class="card">
        <div class="card-header">
            Enrollment list
        </div>
        <div class="card-body p-10">
          <table id="enrollment-list" class="table table-bordered table-hover table-sm">
              <thead>
                  <tr>
                    <th>Semester</th>
                    <th>School Year</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for e in enrollment%}
                    <tr>
                        <td>{{e.semester}}</td>
                        <td>{{e.school_year}}</td>
                        <td>
                            {% if e.enrollment_ended == 0 %}  
                                <button onclick="showDiv()" type="button" class="btn btn-sm btn-success float-left ">pre_enroll</button>
                            {% else %}
                                enrollment ended
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>


function showDiv() {
    var div = document.getElementById("myDiv");
    div.style.display = "block"; // Change the display property to show the div
}