{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Grades {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Grades</h1>
            <div>
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a href="{% url "faculty-grade-list" %}">select enrollment</a></li>
                    <li class="breadcrumb-item ">select class</li>
                    <li class="breadcrumb-item ">grades</li>
                </ol>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <b>{{faculty}}</b><b class="float-right">{{class_schedules.subject}} </b>
                        </div>
                        <div class="card-body p-10">
                          <table id="grade-list" class="table table-bordered table-hover table-sm">
                              <thead>
                                  <tr>
                                    <th>Student</th>
                                    <th>Midterm grade</th>
                                    <th>Final grade</th>
                                    <th>Final re-grade</th>
                                    <th>Credit Unit</th>
                                    <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% include "faculty/grades/grade_list.html" %}
                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="new-grade">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->




<script>
    $(function() 
    {
        var loadform = function() 
          {
            var btn = $(this);
            console.log(btn.attr("data-url"));
            $.ajax
            ({
              url: btn.attr('data-url'),
              type: 'get',
              dataType: 'json',
              beforeSend: function()
              {
                  $("#new-grade").modal("show");
              },
              success: function (data) {
                  $("#new-grade .modal-content").html(data.html_form);
              }
            });
          };
  
        var saveForm = function() 
          {
            var form = $(this);
            $.ajax
            ({
              url: form.attr("action"),
              data: form.serialize(),
              type: form.attr("method"),
              dataType: 'json',
              success: function (data) 
              {
                if (data.form_is_valid) 
                {
                  $("#grade-list tbody").html(data.grade_list);
                  $("#new-grade").modal("hide");
                }
                else 
                {
                  $("#new-grade .modal-content").html(data.html_form);
                }
              }
            });
          return false;
          }
  
    //add grade
    $(".js-add-grade").click(loadform);
    $("#new-grade").on("submit",".js-grade-create-form", saveForm);
    //edit grade
    $("#grade-list").on("click", ".js-edit-grade", loadform);
    $("#new-grade").on("submit", ".js-grade-edit-form", saveForm);
    //delete grade
    $("#grade-list").on("click", ".js-delete-grade", loadform);
    $("#new-grade").on("submit", ".js-grade-delete-form", saveForm);

    $(function () {
        $('#grade-list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
});

 
</script>
{% endblock extra_scripts %}