{% extends 'layouts/base.html' %}
{% load static %}
{%load crispy_forms_tags%}

{% block title %} User Profile {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-4">
        </div>
          <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'dist/img/user4-128x128.jpg' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{request.user.first_name}} {{request.user.middle_name}} {{request.user.last_name}}</h3>
                {% if request.user.student %}
                <p class="text-muted text-center">STUDENT</p>
                {% elif request.user.staff %}
                <p class="text-muted text-center">STAFF</p>
                {% elif request.user.administrator %}
                <p class="text-muted text-center">ADMINISTRATOR</p>
                {% endif %}

                <strong><i class="fas fa-pencil-alt mr-1"></i>Username:</strong>

                <p class="text-muted">
                  {{request.user.username}}
                </p>

                <hr>
                <strong><i class="fas fa-pencil-alt mr-1"></i>ID No:</strong>

                <p class="text-muted">
                  {{request.user.id_no}}
                </p>

                <hr>

                <button class="btn btn-primary span4 proj-div" data-toggle="modal" data-target="#edit-account"><b>Edit</b></button>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if not request.user.administrator and not request.user.staff %}              
                  <strong><i class="fas fa-pencil-alt mr-1"></i>Email address</strong>
                    
                  <p class="text-muted">
                    {{user.email_address}}
                  </p>
  
                  <hr>
  
                  <strong><i class="fas fa-book mr-1"></i>Gender</strong>
  
                  <p class="text-muted">
                    {{user.gender}}
                  </p>
  
                  <hr>
  
                  <strong><i class="fas fa-map-marker-alt mr-1"></i>Birth date</strong>
  
                  <p class="text-muted">
                    {{user.birth_date}}
                  </p>
  
                  <hr>
  
                  <strong><i class="fas fa-pencil-alt mr-1"></i>Home address</strong>
  
                  <p class="text-muted">
                    {{user.home_address}}
                  </p>
  
                  <hr>
  
                  <strong><i class="far fa-file-alt mr-1"></i>Contact number</strong>
  
                  <p class="text-muted">
                    {{user.contact_number}}
                  </p>
                <button class="btn btn-primary span4 proj-div" data-toggle="modal" data-target="#edit-about"><b>Edit</b></button>
                {% else %}
                <strong><i class="far fa-file-alt mr-1"></i>Contact number</strong>

                <p class="text-muted">
                    {{user.contact_number}}
                </p>    
                <button class="btn btn-primary span4 proj-div" data-toggle="modal" data-target="#edit-about"><b>Edit</b></button>
                {% endif %}
              </div>
                
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="col-md-4">
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <div id="edit-account" class="modal fade">
      <div class="modal-dialog">
         <div class="modal-content">
         <form method='post' action="" class="">
             {% csrf_token %}
             <h4 class="modal-title">Edit About</h4>
             <div class="modal-body">
                 <div class="col-md-12">
                     {{form1.username|as_crispy_field}}
                 </div>
                 <div class="col-md-12">
                     {{form1.first_name|as_crispy_field}}
                 </div>
                 <div class="col-md-12">
                     {{form1.middle_name|as_crispy_field}}
                 </div>
                 <div class="col-md-12">
                     {{form1.last_name|as_crispy_field}}
                 </div>
                 <div class="col-md-12">
                     {{form1.id_no|as_crispy_field}}
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button type="submit"  name="editAccount" class="btn btn-primary">Save changes</button>
             </div>
         </form>
         </div>
       </div>
     </div>

    <div id="edit-about" class="modal fade">
     <div class="modal-dialog">
        <div class="modal-content">
        <form method='post' action="" class="">
            {% csrf_token %}
            <h4 class="modal-title">Edit About</h4>
            {% if request.user.student %}
            <div class="modal-body">
                <div class="col-md-12">
                    {{form.email_address|as_crispy_field}}
                </div>
                <div class="col-md-12">
                    {{form.gender|as_crispy_field}}
                </div>
                <div class="col-md-12">
                    {{form.birth_date|as_crispy_field}}
                </div>
                <div class="col-md-12">
                    {{form.home_address|as_crispy_field}}
                </div>
                <div class="col-md-12">
                    {{form.contact_number|as_crispy_field}}
                </div>
            </div>
            {% else %}
            <div class="modal-body">
                <div class="col-md-12">
                    {{form.contact_number|as_crispy_field}}
                </div>
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit"  name="editAbout" class="btn btn-primary">Save changes</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
